<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");

            var x = document.getElementById("g");
            var y = document.getElementById("g2");
            if(optionValue == "g"){
                x.style.display = "block";
                y.style.display = "none";
            } else{
                x.style.display = "none";
                y.style.display = "block";
            }
        });
    }).change();
});
</script>
<html lang="en">
    
    <%-include ('layouts/head');-%>
    <body>
        <%-include ('layouts/navbar');-%>
      
        <!-- Page Header-->
        <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
            <div class="container text-center">
                <h1 class="display-4 text-white animated slideInDown mb-4">Examiner</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-primary active" aria-current="page">Examiner</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div>
                            Test Type: 
                            <select>
                                <option value="g">G</option>
                                <option value="g2">G2</option>
                            </select>
                        </div>

                        <div id="g" class="my-5">
                            <h3>G List</h3>
                            <!-- drivers -->
                            <table id="candidatesTable1" class="table table-striped" cellspacing="0" cellpadding="0">
                                <thead>
                                   <tr>
                                      <th>Username</th>
                                      <th>Name</th>
                                      <th></th>
                                   </tr>
                                </thead>
                                <tbody>
                                    <% for(let i = 0 ; i<guserlist.length; i++){ %>
                                        <tr>
                                            <td>
                                                <%=guserlist[i].user_name %>
                                            </td>
                                            <td>
                                                <%= guserlist[i].firstname %> &nbsp <%= guserlist[i].lastname %>
                                            </td>
                                            <td>
                                                <a href="/candidate?id=<%= guserlist[i]._id %>">View</a>
                                            </td>  
                                        </tr>
                                    <% } %>
                              </tbody>
                             </table>
                        </div>

                        <div id="g2" class="my-5">
                            <h3>G2 List</h3>
                            <!-- appointments -->
                            <table id="candidatesTable" class="table table-striped" cellspacing="0" cellpadding="0">
                                <thead>
                                   <tr>
                                      <th>Username</th>
                                      <th>Name</th>
                                      <th></th>
                                   </tr>
                                </thead>
                                <tbody>
                                    <% for(let i = 0 ; i<g2userlist.length; i++){ %>
                                        <tr>
                                            <td>
                                                <%=g2userlist[i].user_name %>
                                            </td>
                                            <td>
                                                <%= g2userlist[i].firstname %> &nbsp <%= g2userlist[i].lastname %>
                                            </td>
                                            <td>
                                                <a href="/candidate?id=<%= g2userlist[i]._id %>">View</a>
                                            </td>  
                                        </tr>
                                    <% } %>
                              </tbody>
                             </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%-include ('layouts/footer');-%>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
