<!DOCTYPE html>
<html lang="en">
    <%- include("layouts/header.ejs") -%>
    <body>
        <!-- Navigation-->
        <%- include("layouts/navbar.ejs") -%>
        <!-- Page Header-->
        <div class="container-xxl courses my-6 py-6 pb-0">
            <div class="container">
                <div class="row g-4 justify-content-center">
        <div class="col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-primary text-center p-5">
                <h1 class="mb-4">Login here</h1>
        <!-- Main Content-->
        <% if (typeof errorMessage !== "undefined") { %>
            <p>Form could not be submitted due to the following error:</p>
            <p><%= errorMessage %></p>
            <% }%>
       
           
        
                    <form id="loginForm" action="/login"  method="post">
                    <div class="row g-3">
                    <div class="col-sm-6">
                        <div class="form-floating">
                           
                                 <input  class="form-control" type="text" id="user_name" name="user_name">
                                 <label>Username</label>
                            </div>
                            </div>
                            <div class="col-sm-6">
                        <div class="form-floating">
                            
                                <input class="form-control" type="password" name="password" placeholder="password">
                                <label>Password</label>
                            </div>
                            </div>
                        <div class="form-submit-button">
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Login</button>
                        </div>

                       </form>
                       <a href="/signup" class="btn btn-primary text-uppercase"><i>New User ? ,Create Account</i></a>
                    </div>
                </div>
                   </div> 
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include("layouts/footer.ejs") -%>
        <%- include("layouts/scripts.ejs") -%>
    </body>
</html>
